<div class="department-list">
  <h3 class="text-center">Department List:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dept_Id</th>
        <th>Dept_Name</th>
        <th>Manager</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department.deptId }}</td>
        <td>{{ department.deptName }}</td>
        <td>{{ department.manager }}</td>
        <td>{{ department.description }}</td>
        <td>
          <button (click)="updateDepartment(department.deptId)" class="btn btn-primary">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>