<div class="col-md-6 offset-md-3">
    <br>
    
    <h3 class="text-center" style="font-family:'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;">Update EmpLoyee</h3>
    
    <form (ngSubmit)="updateEmployee()" #updateform="ngForm">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" #firstname="ngModel" class="form-control" id="firstName"
                   [(ngModel)]="employee.firstName" name="firstName" required>
        <span class="text-danger" *ngIf="firstname.valid==false && firstname.touched ">
        FirstName is Required!</span>        
        </div>
    
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" #lastname="ngModel" class="form-control" id="lastName"
                   [(ngModel)]="employee.lastName" name="lastName" required>
        <span class="text-danger" *ngIf="!lastname.valid && lastname.touched">
        LastName is Required!</span>
                           
        </div>
    
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" #email="ngModel" class="form-control" id="email"
                   [(ngModel)]="employee.email" name="email" required>
        <span class="text-danger" *ngIf="!email.valid && email.touched ">
        valid Email is Required!</span>   
        </div>
    
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" #salary="ngModel" class="form-control" id="salary"
                   [(ngModel)]="employee.salary" name="salary" required>
        <span class="text-danger" *ngIf="!salary.valid && salary.touched ">
        Salary is Required!</span>
        </div>
    
        <div class="form-group">
            <label for="designation">Designation:</label>
            <input type="text" #designation="ngModel" class="form-control" id="designation"
                   [(ngModel)]="employee.designation" name="designation" required>
            <span class="text-danger" *ngIf="!designation.valid && designation.touched ">
            pls Enter the Designation </span>
        </div>
    
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" #phonenumber="ngModel" class="form-control" id="phoneNumber"
                   [(ngModel)]="employee.phoneNumber" name="phoneNumber" required>
        <span class="text-danger" *ngIf="!phonenumber.valid && phonenumber.touched " required>
        phonenumber is Required!</span>
        </div>
    
        <div class="form-group" >
            <label for="address">Address:</label>
            <textarea class="form-control" #address="ngModel" id="address" rows="3"
                      [(ngModel)]="employee.address" name="address" required></textarea>
                      <span class="text-danger" *ngIf="!address.valid && address.touched ">
                        Address is Required!</span>
        </div>
    
        <div class="text-center">
            <button  class="btn btn-primary" type="submit" [disabled]="!updateform.valid">Submit</button>
        </div>
    </form>
    
</div>
